<form class="form-horizontal">
	<h3>OctoLight HomeAssistant</h3>

	<div class="control-group">
        <label class="control-label">Light control device</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.octolightha.light_device">
                <option value="GPIO">GPIO</option>
                <option value="HA">HomeAssistant</option>
            </select>
        </div>
    </div>

	<!-- ko if: settings.plugins.octolightha.light_device() === "GPIO" -->
    <h4>GPIO settings</h4>
	<div class="control-group">
		<label class="control-label">{{ _('Light PIN') }}</label>
		<div class="controls">
			<input id="light_pin-input" type="number" min="1" max="40" class="input-small" data-bind="value: settings.plugins.octolightha.light_pin">
		</div>

		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.octolightha.inverted_output">
				{{ _('Inverted output') }}
			</label>
		</div>
	</div>
    <!-- /ko -->

	<!-- ko if: settings.plugins.octolightha.light_device() === "HA" -->
    <h4>HomeAssistant settings</h4>
    <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.octolightha.address">
            <span class="help-block">The IP address or hostname of your HomeAssistant server.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Access token</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.octolightha.api_key">
            <span class="help-block">The long-lived access token generated by HomeAssistant. See <a href="https://github.com/edekeijzer/OctoPrint-PSUControl-HomeAssistant#configuration" target="_blank">plugin configuration</a> for more info.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Entity ID</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.octolightha.entity_id">
            <span class="help-block">The ID of the entity you'd like to control. Can be anything supporting the turn_on/turn_off services, but a switch would make the most sense.</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.octolightha.verify_certificate"> Verify certificate
            </label>
            <!-- ko if: settings.plugins.octolightha.verify_certificate -->
            <span class="help-block">Verify TLS certificate and do not connect on certificate issues.</span>
            <!-- /ko -->
            <!-- ko ifnot: settings.plugins.octolightha.verify_certificate -->
            <span class="help-block">Do not verify TLS certificate.</span>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->

</form>